.pidmsg {
  color: rgb(226, 8, 8);
  margin-left: -700px;
  margin-top: -25px;
}
.inputbox {
  margin: 100px;
  width: 200px;
}
.saveb {
  margin-top: -130px;
  margin-left: 500px;
}
.Showpid {
  margin-top: 200px;
  margin-left: 700px;
}
.mb-2 {
  margin-top: -8px;

}
